@page
@model projekt.Pages.Login.LoginClientModel
@{
    ViewData["Title"] = "LoginClient";
}
<h2>@ViewData["Title"]</h2>
<div class="text-red">@Model.errorMessage</div>

<div class="container">
    <form class="form-horizontal" method="post">
        @Html.Hidden("returnUrl", Model.returnUrl)
        <div class="form-group">
            <label asp-for="client.userName" class="control-label col-sm-2"></label>
            <div class="col-sm-6">
                <input asp-for="client.userName" class="form-control">
                <span asp-validation-for="client.userName" class="text-red"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="client.password" class="control-label col-sm-2"></label>
            <div class="col-sm-6">
                <input asp-for="client.password" class="form-control">
                <span asp-validation-for="client.password" class="text-red"></span>
            </div>
        </div>
        <div class="form-group">
            <a asp-page="@Model.returnUrl" class="btn btn-primary btn-large">Anuluj</a>
            <button class="btn btn btn-primary">Zatwierdź</button>
        </div>
    </form>
</div>
